fastapi
uvicorn
python-multipart
# --- OS Specific Dependencies ---
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
# --------------------------------
pdfplumber
python-docx
pandas
openpyxl
beautifulsoup4
pytesseract
Pillow
opencv-python-headless
numpy